<h3 style="color:white;background-color:#337ab7;padding:1em;" (click)="fakeFill3()">Facility Emergency Contact Information</h3>
<form (ngSubmit)="submit_second()">
    <div>
        <label>First Name<span>*</span></label>
        <input type="text" name="emer_first_name" [(ngModel)]="second.emer_first_name" #emer_first_name="ngModel" minlength="3" required>
    </div>
     <div *ngIf="submitCount && !emerFirstName()" class="colored">
            Please enter first name
    </div>
    <div>
        <label>Last Name<span>*</span></label>
        <input type="text" name="emer_last_name" [(ngModel)]="second.emer_last_name" #emer_last_name="ngModel" minlength="2" required>
    </div>
    <div *ngIf="submitCount && !emerLastName()" class="colored">
        Please enter last name
    </div>
    <div>
        <label> Position<span>*</span></label>
        <input type="text" name="emer_position" [(ngModel)]="second.emer_position" #emer_position="ngModel" minlength="2" required>
    </div>
    <div *ngIf="submitCount && !emerPosition()" class="colored">
        Please enter position
    </div>
    <div>
        <label> Email<span>*</span></label>
        <input type="email" name="emer_email" [(ngModel)]="second.emer_email" #emer_email="ngModel" placeholder="abc@gmail.com" required>
    </div>
    <div *ngIf="submitCount && !isEmailValid3()" class="colored">
            Please enter a valid email
    </div>
    <div>
        <label> Phone Number(or Mobile)<span>*</span></label>
        <input type="text" name="emer_phone" [(ngModel)]="second.emer_phone" #emer_phone="ngModel" placeholder="2222222222" required>
    </div>
    <div *ngIf="submitCount && !isPhoneValid3()" class="colored">
            Please enter a valid phone number
    </div>
    <label> Address<span>*</span></label>
    <input type="text" name="emer_address" [(ngModel)]="second.emer_address" #emer_address="ngModel" minlength="2" required>
    <div *ngIf="submitCount && !emerAddress()" class="colored">
        Please enter name of the street
    </div>
    <label> Apartment Number</label>
    <input type="text" name="emer_apt_number" [(ngModel)]="second.emer_apt_number" #emer_apt_number="ngModel">
    <div>
        <label> City<span>*</span></label>
        <input type="text" name="emer_city" [(ngModel)]="second.emer_city" #emer_city="ngModel" required>
    </div>
     <div *ngIf="submitCount && !emerCity()" class="colored">
        Please enter name of the city
    </div>
    <div>
        <label> State<span>*</span></label>
        <input type="text" name="emer_state" [(ngModel)]="second.emer_state" #emer_state="ngModel" minlength="2" required>
    </div>
    <div *ngIf="submitCount && !emerState()" class="colored">
        Please enter name of the state
    </div>
    <div>
        <label> Zip Code<span>*</span></label>
        <input type="text" name="emer_zip" placeholder="xxxxx" [(ngModel)]="second.emer_zip" #emer_zip="ngModel" required>
    </div>
    <div *ngIf="submitCount && !isZipValid3()" class="colored">
        Please enter a valid zipcode
    </div>
</form>
